* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div, header, nav{
    border: solid 2px black;
    margin: 10px;
}

#flex-container {
    display: flex;
    flex-direction: row;
}

#flex-cont-colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
}

